<div class="side-nav">
    <div class="user-container" style="padding: 16px">
        <ng-container *ngIf="user">
            <img [src]="user.custom_avatar?user.custom_avatar:'/assets/images/default-avatar.png'" style="width: 50px;
    vertical-align: middle;
    border-radius: 50px;
    height: 50px;
    margin-right: 8px;
    object-fit: cover;">
            <span class="text-16 text-gray weight-500" *ngIf="user.display_name">{{user.display_name}}</span>
        </ng-container>
        <a *ngIf="!user" class="waves-effect waves-light btn btn-primary" [routerLink]="['/login']">Đăng nhập</a>
    </div>

    <ul class="sidenav-options">
        <li><a class="text-light-gray text-16" [routerLink]="['/post-create']">
            <i class="material-icons" style="float: left;margin-right: 16px">edit</i> Đăng bài
        </a></li>
        <li><a class="text-light-gray text-16" [routerLink]="['/bookmark']">
            <i class="material-icons" style="float: left;margin-right: 16px">bookmark</i> Bài đã lưu
        </a></li>
        <li><a class="text-light-gray text-16" [routerLink]="['/settings']">
            <i class="material-icons" style="float: left;margin-right: 16px">settings</i> Cài đặt
        </a></li>
        <!--<li><a class="text-light-gray text-16" [routerLink]="['/introduced']">Giới thiệu</a></li>-->
        <li *ngIf="authService.getAuth() && authService.getAuth().token"><a class="text-light-gray text-16" (click)="logout()">
            <i class="material-icons" style="float: left;margin-right: 16px">exit_to_app</i> Đăng xuất
        </a></li>
    </ul>
</div>