.content {
  padding: 16px;
  figure {
    margin-left: -16px;
    margin-right: -16px;
    img {
      width: unset;
      height: unset;
      max-width: 100%;
    }
  }
  a {
    color: rgb(255, 87, 34);
  }
  p, table {
    video, img {
      width: 100%;
      height: unset;
    }
  }
}